body {
  background: #d6c8ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #170a19;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  margin: 10px 0;
}

small {
  padding: 20px;
  color: #878787;
}
ul {
  color: #878787;
  font-size: 14px;
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}

a {
  color: #7e6bc4;
}

.city-search {
  font-size: 14px;
  padding: 13px;
}

.current-details {
  margin-top: 30px;
}
.current-temp {
  color: #170a19;
  font-size: 80px;
  font-weight: 600;
  line-height: 1;
}

.forecast-date {
  font-size: 16px;
  color: #363b4e;
}

.forecast-max {
  font-size: 14px;
  color: #363b4e;
}

.forecast-min {
  font-size: 13px;
  color: #878787;
}

.search-btn {
  background: #7e6bc4;
  color: #ffffff;
  font-size: 14px;
  padding: 13px;
}

.search-btn:hover {
  background: #7e6bc4;
  color: white;
}

.units {
  font-size: 20px;
  line-height: 3.5;
}

.weather-app-wrapper {
  background: #ffffff;
  border-radius: 15px;
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
}

.weather-app {
  padding: 20px;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
}
